[user]
name = Daniel Rocco
email = drocco@gmail.com

[remote "origin"]

[core]
autocrlf = input
editor = subl -n -w
pager = less -FX -+S

[gitreview]
username = drocco

[alias]
ci = commit -v
co = checkout
l = log --graph --format='%C(auto)%h %<(79,trunc)%s'
di = diff --color
st = status -s
save = !sh -c 'export PREV=$(git symbolic-ref HEAD|cut -d/ -f3-) && git checkout -b "$1" && git commit --no-verify -am "$1" && git checkout "$PREV"' -
undo = reset --soft HEAD~1

[push]
default = current

[credential]
helper = cache --timeout=3600

[pull]
	rebase = true
